{% block css %}
    <link rel="stylesheet" href="{{ asset('css/foot.css') }}"/>
{% endblock %}

<footer>
    <p>2023 © ADRAR Classrooms. Tous droits réservés.</p>
    <a class="anchor" href="#nav">
        <h6>^</h6>
        <h6>^</h6>
    </a>

</footer>